@page "/products"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-box2" /> Productos
            <a class="btn btn-sm btn-primary float-end" href="/products/create"><i class="bi bi-plus-square" /> Nuevo Producto</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Buscar producto..." Callback=@FilterCallBack />
        <GenericList MyList="Products">
            <Body>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync"
                            RecordsNumber="SelectedRecordsNumberAsync" />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Inventario</th>
                            <th>Categorías</th>
                            <th>Imagenes</th>
                            <th>Imagen Principal</th>
                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Products!)
                        {
                            <tr>
                                <td>
                                    @product.Name
                                </td>
                                <td>
                                    @product.Description
                                </td>
                                <td>
                                    @($"{product.Price:C2}")
                                </td>
                                <td>
                                    @($"{product.Stock:N2}")
                                </td>
                                <td>
                                    @product.ProductCategoriesNumber
                                </td>
                                <td>
                                    @product.ProductImagesNumber
                                </td>
                                <td>
                                    <img src="@product.MainImage" style="width:100px;" />
                                </td>
                                <td>
                                    <a href="/products/edit/@product.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil" /> Editar</a>
                                    <button class="btn btn-danger btn-sm" @onclick=@(() => Delete(product.Id))><i class="bi bi-trash" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>