<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnDataAnnotationsValidatedAsync">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <span>
                <i class="bi bi-box2" /> Crear Nuevo Producto
                <a class="btn btn-sm btn-success float-end" href="/products"><i class="bi bi-arrow-left" /> Regresar</a>
                <button class="btn btn-sm btn-primary float-end mx-2" type="submit"><i class="bi bi-floppy" />  Guardar Cambios</button>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label>Nombre:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@ProductDTO.Name" />
                            <ValidationMessage For="@(() => ProductDTO.Name)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Descripción:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@ProductDTO.Description" />
                            <ValidationMessage For="@(() => ProductDTO.Description)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Precio:</label>
                        <div>
                            <InputNumber class="form-control" @bind-Value="@ProductDTO.Price" />
                            <ValidationMessage For="@(() => ProductDTO.Price)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Inventario:</label>
                        <div>
                            <InputNumber class="form-control" @bind-Value="@ProductDTO.Stock" />
                            <ValidationMessage For="@(() => ProductDTO.Stock)" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label>Categorías:</label>
                        <div>
                            <MultipleSelector NonSelected="nonSelected" Selected="selected" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <InputImg Label="Foto" ImageSelected="ImageSelected" ImageURL="@imageUrl" />
                    </div>
                    @if (IsEdit)
                    {
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary" @onclick="AddImageAction"><i class="bi bi-cart-plus" /> Agregar Imagenes</button>
                            <button type="button" class="btn btn-outline-danger" @onclick="RemoveImageAction"><i class="bi bi-trash" /> Eliminar Última Imagén</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</EditForm>

@if (IsEdit && ProductDTO.ProductImages is not null)
{
    <CarouselView Images="ProductDTO.ProductImages" />
}
